header .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a{
        color:black;
        /* text-decoration: none; */
    }
}

header .inicio{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}
header .inicio .imagenes{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .inicio .opciones{
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .login{
    width: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

header .login .register{

}
