header .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Lexend_text", sans-serif;
    border: 1px solid white;
}

header .inicio {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

@media screen and (max-width: 1000px) and (min-width:90px) {

    header .inicio {
        width: 55%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
    }
}

header .inicio .imagenes {
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) and (min-width:90px) {
    header .inicio .imagenes{
        width: 20%;
    }
}

header .inicio .imagenes .barras:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

header .inicio .imagenes .logo:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

header .inicio .opciones {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .inicio .opciones .perfil:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

header .inicio .opciones .eventos:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

header .login_register {
    width: 14%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

@media screen and (max-width: 1000px) and (min-width:90px) {
    header .login_register {
        width: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;
    }
}

@media screen and (max-width: 1000px) {
    header .header {
        font-size: 0.8rem;
    }

    header .opciones div, header .login_register div {
        padding: 5px; 
    }

    header .imagenes .logo img{
        width: 70px; 
    }
}

header .login_register .login {
    border: 1px solid rgb(12, 10, 88);
    background-color: rgb(12, 10, 88);
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;

    a {
        color: white;
    }
}

header .login_register .login:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

section .section {
    border: 1px solid white;
    background: rgb(246, 91, 247);
    background: linear-gradient(24deg, rgba(246, 91, 247, 1) 20%, rgba(42, 255, 178, 0.7002450638458508) 50%, rgba(156, 78, 250, 1) 80%);
    height: 80vh;
}

section .section .usuarios{
    h1{    
        font-family: "Montserrat_title", sans-serif;
        font-size: 65px;
    }
    p{
        font-family: "Lexend_text", sans-serif;
        font-size: 25px;
    }
}

footer .contact-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1000px) and (min-width:90px) {
    footer .contact-info {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@font-face {
    font-family: "Montserrat_title";
    src: url("Fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend_text";
    src: url("Fonts/Lexend-Light.ttf") format("truetype");
}

@font-face {
    font-family: "BladeRunner_title";
    src: url("Fonts/BLADRMF_.TTF") format("truetype");
}

@font-face {
    font-family: "SynthekLDR_text";
    src: url("Fonts/synthekR_ldr.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    padding: 0;
}