<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexTech barra lateral</title>
    <link rel="stylesheet" href="Nextech_barra_lateral.css">
</head>

<body>
    <div class="division">
        <div class="div1"><a href="NexTech_login.php">Volver a login</a><br>
            <div class="sidebar">
                <ul>
                    <li><a href="page1.html">Home</a></li>
                    <li><a href="page2.html">Search</a></li>
                    <li><a href="page3.html">Events</a></li>
                </ul>
            </div>
            <img src="Images/NexTech barra lateral.png" alt="Imagen NexTech barra lateral" width="90%" height="730px">
        </div>

    </div>

</body>

</html>