/*HEADER*/
header .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "Lexend_text", sans-serif;
    border: 1px solid white;
}

header .inicio {
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

@media screen and (max-width: 1000px) and (min-width:90px) {

    header .inicio {
        width: 200px;
    }
}

header .inicio .imagenes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .inicio .imagenes .barras:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

header .inicio .imagenes .logo:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

header .inicio .opciones {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .inicio .opciones .perfil:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

header .inicio .opciones .eventos:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

header .login_register {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

@media screen and (max-width: 1000px) and (min-width:90px) {
    header .login_register {
        width: 160px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 1000px) {
    header .header {
        font-size: 0.8rem;
    }

    header .opciones div,
    header .login_register div {
        padding: 5px;
    }

    header .imagenes .logo img {
        width: 70px;
    }
}

header .login_register .login {
    border: 1px solid rgb(12, 10, 88);
    background-color: rgb(12, 10, 88);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;

    a {
        color: white;
    }
}

header .login_register .login:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

header .login_register .register {
    border: 1px solid rgb(5, 87, 220);
    background-color: rgb(5, 87, 220);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;

    a {
        color: white;
    }
}

header .login_register .register:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

/*FOOTER*/
footer .contact-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


@media screen and (max-width: 1000px) and (min-width:90px) {
    footer .contact-info {
        flex-wrap: wrap;
    }
}

/*SECTION*/
section .section {
    border: 1px solid white;
    background: rgb(246, 91, 247);
    background: linear-gradient(24deg, rgba(246, 91, 247, 1) 20%, rgba(42, 255, 178, 0.7002450638458508) 50%, rgba(156, 78, 250, 1) 80%);
    height: 80vh;
}

/*LOGIN*/
section .section .forms {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

section .section .forms .login {
    font-family: "BladeRunner_title", sans-serif;
    color: rgb(11, 11, 137);
    font-size: 100px;
    margin-top: 100px;

    p {
        margin: 0;
    }
}

@media screen and (max-width: 1000px) and (min-width:90px) {
    section .section .forms .login {
        font-size: 80px;
    }
}

section .section .forms .form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

section .section .forms .form .inputs {
    font-family: "SynthekLDR_text", sans-serif;
    font-size: 30px;
    color: rgb(5, 87, 220);
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) and (min-width:90px) {
    section .section .forms .form .inputs {
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

input[type="text"] {
    width: 200px;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input[type="password"] {
    width: 200px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 150px;
}

@media screen and (max-width: 1000px) and (min-width:90px) {
    input[type="submit"] {
        padding: 8px 25px;
        font-size: 13px;
    }
}

input[type="submit"]:hover {
    background-color: #0056b3;
    transition: transform 0.3s ease;
    transform: scale(1.1);

}

/*REGISTER*/


/*MENU*/
section .section .usuarios {
    margin-left: 5px;

    h1 {
        font-family: "Montserrat_title", sans-serif;
        font-size: 65px;
    }

    p {
        font-family: "Lexend_text", sans-serif;
        font-size: 25px;
    }
}

/*EVENTOS*/
.eventos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Tres columnas */
    gap: 15px;
    /* Espaciado entre los elementos */
    padding: 10px;
    align-content: end;
    /* Agrupa los elementos hacia el final del contenedor */
    height: 70vh;
    /* Asegura que el contenedor tenga un alto suficiente */
}

.eventos-grid>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Alinea el contenido de cada elemento hacia abajo */
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}




/*PERFIL*/

/*INFO*/

/*OTROS*/
@font-face {
    font-family: "Montserrat_title";
    src: url("Fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Lexend_text";
    src: url("Fonts/Lexend-Light.ttf") format("truetype");
}

@font-face {
    font-family: "BladeRunner_title";
    src: url("Fonts/BLADRMF_.TTF") format("truetype");
}

@font-face {
    font-family: "SynthekLDR_text";
    src: url("Fonts/synthekR_ldr.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    padding: 0;
}

section {
    margin: 0;
    padding: 0;
}