<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexTech Menu</title>
    <link rel="stylesheet" href="NexTech.css">

</head>

<body>
    <header>
        <div class="header">
            <div class="inicio">
                <div class="imagenes">
                    <div class="barras">
                        <a href="NexTech_barra_lateral.html"><img src="Images/3 barras.png" alt="Imagen Barras"
                                width="40px"></a>
                    </div>
                    <div class="logo">
                        <a href="NexTech_menu_nologin.html"><img src="Images/NexTech logo.png" alt="Imagen Logo NexTech"
                                width="100px"></a>
                    </div>
                </div>
                <div class="opciones">
                    <div class="eventos">
                        <a href="NexTech_eventos.html" style="color:rgb(94, 6, 130)"><b>Eventos</b></a>
                    </div>
                    <div class="perfil">
                        <a href="NexTech_perfil.html" style="color:rgb(147, 0, 233)">Perfil</a>
                    </div>
                    <div class="info">
                        <p style="color:rgb(147, 0, 233)">Info</p>
                    </div>
                </div>
            </div>
            <div class="login_register">
                <div>
                    <!--Cambiar a enlace en un futuro-->
                    <p style="color:rgb(147, 0, 233)">Register</p>
                </div>
                <div class="login">
                    <a href="NexTech_login.html">Login</a>
                </div>
            </div>
        </div>
    </header>

    <section>
        <div class="section">
            <div class="usuarios">
                <h1>¡Bienvenido a NexTech!</h1>
                <p>Estamos encantados de tenerte aquí. Explora todo lo que tenemos para ofrecerte.</p>
                <p>Descubre nuestros eventos destacados y participa en experiencias únicas.</p>
                <p>¿Aún no has iniciado sesion? <a href="NexTech_login.html">Inicia sesión ahora</a>.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="contact-info">
            <p>&copy; 2025 NexTech.com. Todos los derechos reservados.</p>
            <p>Dirección: Calle Pelai 123, Barcelona, España</p>
            <p>Teléfono: +123 456 789</p>
            <p>Email: infonextech@gmail.com</p>
        </div>
    </footer>
</body>

</html>